alias printpath='echo $PATH | tr -s ":" "\n"'

# ls
alias ls="ls --color=auto"
alias ll='ls -l'
alias la='ls -alh'

# tig
alias tiga='tig --all'

# trans
alias enzh='$HOME/trans -show-original-phonetics Y -speak en:zh-tw'
alias zhen='$HOME/trans -play zh:en -b'

# pre-commit
alias pre-push='pre-commit run --hook-stage push'

alias actv='source $VIRTUAL_ENV/bin/activate'
alias cdr='cd $HOME; source $HOME/.zshrc'
