[user]
	name = cdddg
	email = cdddg2@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = mvim
	pager = diffr | less -R
[interactive]
	diffFilter = diffr
[diff]
	tool = mvimdiff
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[credential]
	helper = store --file ~/.git_credentials
